<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap"
    rel="stylesheet"
/>

<link rel="stylesheet" href="/public/static/css/tw.min.css" />

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<% const seo_title = `${html_title} • Arctic Tern` %>
<% const seo_descr = typeof html_description === "string" ? html_description : `Við hönnum, smíðum, og rekum öflug tölvukerfi sem virka hnökurlaust. Byggt á djúpri, þverfaglegri þekkingu á tölvukerfum yfir áratugaskeið.` %>
<% const seo_url = 'https://arctictern.is' %>

<title><%= seo_title %></title>
<meta name="title" content="<%= seo_title %>" />
<meta name="description" content="<%= seo_descr %>" />

<meta property="og:type" content="website" />
<meta property="og:url" content="<%= seo_url %>" />
<meta property="og:title" content="<%= seo_title %>" />
<meta property="og:description" content="<%= seo_descr %>" />
<meta property="og:image" content="/public/static/img/mike-meyers--haAxbjiHds-unsplash.jpg" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="<%= seo_url %>" />
<meta property="twitter:title" content="<%= seo_title %>" />
<meta property="twitter:description" content="<%= seo_descr %>" />
<meta property="twitter:image" content="/public/static/img/mike-meyers--haAxbjiHds-unsplash.jpg" />

<link rel="canonical" href="<%= seo_url %><%= _pathname %>" />

<meta name="theme-color" content="#ffdf20" />
