<%- include('../partials/doc-info') %>

<!DOCTYPE html>
<html lang="is" data-hx-boost="true">
    <head>
        <%- include('../partials/head', {
            html_title: 'Yfirlit útgefinna reikninga'
        }) %>
    </head>
    <body>
        <main class="flex flex-col">
            <%- include('../partials/alert', { alert }) %>
            <!-- prettier-ignore -->
            <%- include('../partials/header', {
                title: 'Yfirlit útgefinna reikninga',
                subtitle: `Nálgastu reikninga sem hafa verið gefnir út til þín eða félags sem þú tengist` 
            }) %>

            <section class="w-full max-w-7xl mx-auto px-8 py-16">
                <div class="w-full flex flex-col md:flex-row gap-16">
                    <div class="md:w-1/2">
                        <h2 class="text-xl font-semibold">Hvernig virkar þetta?</h2>

                        <p class="text-lg mt-2">
                            Þessi þjónusta gerir þér kleift að skrá þig inn með rafrænum skilríkjum og sækja afrit af
                            þeim reikningum sem gefnir hafa verið út til þín eða félags sem þú tengist.
                        </p>

                        <p class="text-lg mt-2">
                            Ef þú hefur athugasemdir um reikning sem þú hefur fengið þá má endilega hafa samband við
                            bókhaldssvið í tölvupósti eða síma og skýra erindið:
                        </p>

                        <div class="space-y-4 pt-6">
                            <div class="flex">
                                <a href="mailto:arctictern@arctictern.is" class="flex items-center gap-3 group">
                                    <div class="h-10 w-10 bg-yellow-300 grid place-items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="size-5">
                                            <path
                                                d="M320 128C214 128 128 214 128 320C128 426 214 512 320 512C337.7 512 352 526.3 352 544C352 561.7 337.7 576 320 576C178.6 576 64 461.4 64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320L576 352C576 405 533 448 480 448C450.7 448 424.4 434.8 406.8 414.1C384 435.1 353.5 448 320 448C249.3 448 192 390.7 192 320C192 249.3 249.3 192 320 192C347.9 192 373.7 200.9 394.7 216.1C400.4 211.1 407.8 208 416 208C433.7 208 448 222.3 448 240L448 352C448 369.7 462.3 384 480 384C497.7 384 512 369.7 512 352L512 320C512 214 426 128 320 128zM384 320C384 284.7 355.3 256 320 256C284.7 256 256 284.7 256 320C256 355.3 284.7 384 320 384C355.3 384 384 355.3 384 320z"
                                            />
                                        </svg>
                                    </div>

                                    <p class="text-lg at--custom-link">fjarstyring@arctictern.is</p>
                                </a>
                            </div>

                            <div class="flex">
                                <a href="tel:+3545475545" class="flex items-center gap-3 group">
                                    <div class="h-10 w-10 bg-yellow-300 grid place-items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="size-5">
                                            <path
                                                d="M224.2 89C216.3 70.1 195.7 60.1 176.1 65.4L170.6 66.9C106 84.5 50.8 147.1 66.9 223.3C104 398.3 241.7 536 416.7 573.1C493 589.3 555.5 534 573.1 469.4L574.6 463.9C580 444.2 569.9 423.6 551.1 415.8L453.8 375.3C437.3 368.4 418.2 373.2 406.8 387.1L368.2 434.3C297.9 399.4 241.3 341 208.8 269.3L253 233.3C266.9 222 271.6 202.9 264.8 186.3L224.2 89z"
                                            />
                                        </svg>
                                    </div>

                                    <p class="text-lg at--custom-link">547 5545</p>
                                </a>
                            </div>
                        </div>

                        <p class="text-lg mt-8">
                            <span>Ertu að leitast eftir að senda reikning?</span>

                            <a
                                href="/vefthjonustur/rafraen-mottaka-reikninga"
                                target="_blank"
                                class="inline-flex items-center gap-1 at--custom-link"
                            >
                                Rafræn móttaka reikninga

                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 640 640"
                                    class="size-5 rotate-45 -mb-0.5"
                                >
                                    <path
                                        d="M342.6 81.4C330.1 68.9 309.8 68.9 297.3 81.4L137.3 241.4C124.8 253.9 124.8 274.2 137.3 286.7C149.8 299.2 170.1 299.2 182.6 286.7L288 181.3L288 552C288 569.7 302.3 584 320 584C337.7 584 352 569.7 352 552L352 181.3L457.4 286.7C469.9 299.2 490.2 299.2 502.7 286.7C515.2 274.2 515.2 253.9 502.7 241.4L342.7 81.4z"
                                    />
                                </svg>
                            </a>
                        </p>
                    </div>

                    <div class="md:w-1/2 bg-gray-100 p-6">
                        <h2 class="text-xl font-semibold">Skráðu þig inn</h2>

                        <div class="pt-4 space-y-4">
                            <div class="flex flex-col md:flex-row gap-4 items-end">
                                <div class="flex-grow">
                                    <label class="block text-sm text-black/50 mb-2">Kennitala (Auðkennisapp)</label>

                                    <input
                                        id="national_id"
                                        type="email"
                                        class="text-sm py-3 px-4 bg-white focus:outline-none w-full block h-11 data-[disabled=true]:bg-gray-200 transition-colors duration-300"
                                        placeholder="050204-2510"
                                    />
                                </div>

                                <div class="w-[1px] h-11 bg-gray-200 shrink-0"></div>

                                <div class="flex-grow">
                                    <label class="block text-sm text-black/50 mb-2">Símanúmer</label>

                                    <input
                                        id="phone_number"
                                        type="email"
                                        class="text-sm py-3 px-4 bg-white focus:outline-none w-full block h-11 data-[disabled=true]:bg-gray-200 transition-colors duration-300"
                                        placeholder="547 5549"
                                    />
                                </div>
                            </div>

                            <div>
                                <button
                                    href="/hafa-samband"
                                    class="text-sm bg-black text-gray-100 px-4 py-3 block font-medium hover:bg-black/80 transition duration-300 w-full"
                                >
                                    Innskrá með rafrænum skilríkjum
                                </button>
                            </div>

                            <div class="flex items-center gap-4">
                                <div class="h-[1px] w-full bg-gray-200"></div>
                                <p class="text-sm text-black/50">eða</p>
                                <div class="h-[1px] w-full bg-gray-200"></div>
                            </div>

                            <div class="flex flex-col md:flex-row gap-4">
                                <div class="md:w-1/2">
                                    <label class="block text-sm text-black/50 mb-2">Reikningsnúmer</label>

                                    <input
                                        id="account_number"
                                        type="txt"
                                        class="text-sm py-3 px-4 bg-white focus:outline-none w-full block h-11"
                                        placeholder="A327914"
                                    />
                                </div>

                                <div class="md:w-1/2">
                                    <label class="block text-sm text-black/50 mb-2">Leynilykill</label>

                                    <input
                                        id="password"
                                        type="password"
                                        class="text-sm py-3 px-4 bg-white focus:outline-none w-full block h-11"
                                        placeholder="• • • • • • • • • • • • • • •"
                                    />
                                </div>
                            </div>

                            <button
                                href="/hafa-samband"
                                class="text-sm bg-gray-300 text-black/80 px-4 py-3 block font-medium hover:bg-gray-300/80 transition duration-300 w-full"
                            >
                                Innskrá með reikningsnúmeri og leynilykli
                            </button>
                        </div>
                    </div>
                </div>
            </section>

            <%- include('../partials/cta') %>

            <%- include('../partials/footer') %>
        </main>

        <script>
            national_id.addEventListener("focus", () => {
                phone_number.removeAttribute("name");
                national_id.name = "national_id";
                national_id.dataset.disabled = false;
                phone_number.dataset.disabled = true;
            });

            national_id.addEventListener("blur", () => {
                if (national_id.value.length < 1) {
                    phone_number.dataset.disabled = false;
                }
            });

            national_id.addEventListener("input", (e) => {
                e.currentTarget.value = e.currentTarget.value
                    .replace(/ /g, "")
                    .replace(/-/g, "")
                    .split("")
                    .reduce((seed, next, index) => {
                        switch (next) {
                            case "0":
                            case "1":
                            case "2":
                            case "3":
                            case "4":
                            case "5":
                            case "6":
                            case "7":
                            case "8":
                            case "9": {
                                break;
                            }

                            default: {
                                return seed;
                            }
                        }

                        if (index > 9) {
                            return seed;
                        }

                        if (index === 6) {
                            seed += "-";
                        }

                        return seed + next;
                    });
            });

            phone_number.addEventListener("focus", () => {
                national_id.removeAttribute("name");
                phone_number.name = "phone_number";
                phone_number.dataset.disabled = false;
                national_id.dataset.disabled = true;
            });

            phone_number.addEventListener("blur", () => {
                if (phone_number.value.length < 1) {
                    national_id.dataset.disabled = false;
                }
            });

            phone_number.addEventListener("input", (e) => {
                e.currentTarget.value = e.currentTarget.value
                    .replace(/ /g, "")
                    .split("")
                    .reduce((seed, next, index) => {
                        switch (next) {
                            case "0":
                            case "1":
                            case "2":
                            case "3":
                            case "4":
                            case "5":
                            case "6":
                            case "7":
                            case "8":
                            case "9": {
                                break;
                            }

                            default: {
                                return seed;
                            }
                        }

                        if (index > 6) {
                            return seed;
                        }

                        if (index === 3) {
                            seed += " ";
                        }

                        return seed + next;
                    });
            });

            account_number.addEventListener("focus", (e) => {
                if (e.currentTarget.value.replace(/ /g, "") === "") {
                    e.currentTarget.value = "A";
                }
            });

            account_number.addEventListener("blur", (e) => {
                if (e.currentTarget.value.replace(/ /g, "") === "A") {
                    e.currentTarget.value = "";
                }
            });

            account_number.addEventListener("input", (e) => {
                const {
                    currentTarget: { value },
                } = e;

                if (value.length < 1) {
                    return;
                }

                let working_value = value;
                if (working_value.substring(0, 1) !== "A") {
                    working_value = `A${working_value}`;
                }

                e.currentTarget.value = working_value
                    .replace(/ /g, "")
                    .split("")
                    .reduce((seed, next, index) => {
                        switch (next) {
                            case "0":
                            case "1":
                            case "2":
                            case "3":
                            case "4":
                            case "5":
                            case "6":
                            case "7":
                            case "8":
                            case "9": {
                                break;
                            }

                            default: {
                                return seed;
                            }
                        }

                        if (index > 7) {
                            return seed;
                        }

                        return seed + next;
                    });
            });
        </script>

        <%- include('../partials/scripts') %>
    </body>
</html>
